<?xml version='1.0' encoding='utf-8'?>
<widget id="com.axterogaming.mines" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Mines</name>
  <description>Minesweeper-like game</description>
  <author email="geass1000@gmail.com" href="https://axtero-gaming.com">
    Axtero Gaming
  </author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="ios">
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
  </platform>
</widget>
